/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a{
 	color:#265263;
 	text-decoration: none;
 	cursor: pointer;
 	margin-left: 10px;
 }

 a:hover{
 	color:#75c2e0;
 	 	text-decoration: none;
 }

 a:active{
 	color:#75c2e0;
 	 	text-decoration: none;
 }

  a:visted{
 	color:#265263;
 	 	text-decoration: none;
 }

 

 ::-webkit-input-placeholder {
   color: #adadad;
   font-family: 'iskra';
   font-weight: 700;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #adadad;
      font-family: 'iskra';
   font-weight: 700;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adadad; 
      font-family: 'iskra';
   font-weight: 700;
   font-style: italic; 
}

:-ms-input-placeholder {  
   color: #adadad;
      font-family: 'iskra';
   font-weight: 700;
   font-style: italic;  
}

*:focus {
	outline: 0;
	padding: 0 !important;
}

/*body{
	background: #d6c136;
	width: 100%;
	height: 100%;
}*/

#page_container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(image-path('hp_bg.jpg'));
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container{
	margin-left: 30%;
	width: 40%;
	position: absolute;
	top: 30%;
	z-index: 100;

}


#home_logo{
	width: 100%;
	height: 150px;
	background-image: url(image-path('piknik_logo.png'));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70%;
	z-index: 200;
}

#signup_button{

	height: 80px;



	background-image: url(image-path('piknik_signup.png'));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40%;
	transition: all .3s ease-in-out;
	z-index: -100;
	cursor: pointer;
}

#signup_button:hover{
	transform: scale(1.2,1.2);
	transition: all .3s ease-in-out;
}
#signup_button:active{
	transform: scale(1,1);
	transition: all .1s ease-in-out;
}

#login_button{

	height: 80px;

	margin-top: 20px;

	background-image: url(image-path('piknik_login.png'));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 30%;
	transition: all .3s ease-in-out;
	z-index: -100;
	cursor: pointer;
}

#login_button:hover{
	transform: scale(1.2,1.2);
	transition: all .3s ease-in-out;
}
#login_button:active{
	transform: scale(1,1);
	transition: all .1s ease-in-out;
}


.blue_cover{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0%;
	height: 0%;
	background-color: #75c2e0;
	z-index: 50;
	transition: all .5s ease-in-out;
	opacity: 0;
	border-radius: 300px;

}



#tongue{
	position: absolute;
	z-index: -20;
	width: 100%;
	height: 0px;
	background-image: url(image-path('tongue.png'));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
	transition: all .3s ease-in-out;
	opacity: 0;

}

.input_field{
	width: 150px;
	height: 30px;
	background-color: #a5d9ed;
	border-radius: 90px;
	margin-bottom: 10px;
	padding: 0px;
	border: 0px;
	text-align: center;
	color: #29444e;
	transition: all .3s ease-in-out;
}

.submit_button{
	width: 150px;
	height: 30px;
	   font-family: 'iskra';
   font-weight: 700;
   font-style: italic;

	background-color: yellow;
	border-radius: 90px;
	margin-bottom: 10px;
	padding: 0px;
	border: 0px solid #66aac5;
	cursor: pointer;
	color: #6e631c;
	background: #ffe223; /* Old browsers */
background: -moz-linear-gradient(top,  #ffe223 0%, #d6c136 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe223), color-stop(100%,#d6c136)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffe223 0%,#d6c136 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffe223 0%,#d6c136 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffe223 0%,#d6c136 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffe223 0%,#d6c136 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe223', endColorstr='#d6c136',GradientType=0 ); /* IE6-9 */

}

.submit_button:hover{
	border: 1px solid #467688;
	border-image-outset: 1px;
}

#signup_form{
	left: 215px;
	top: -40px;
	position: absolute;
	width: 100px;
	text-align: center;
	border-radius: 90px;
	transition: all .3s ease-in-out;

}

#login_form{
	left: 215px;
	top: -30px;
	position: absolute;
	width: 100px;
	text-align: center;
	border-radius: 90px;
	transition: all .3s ease-in-out;

}

.close_signup_button{
	color: #29444e;
	opacity: .5;
	cursor: pointer;
	font-size: 12px;
	margin-left: 46px;
}

.close_login_button{
	color: #29444e;
	opacity: .5;
	cursor: pointer;
	font-size: 12px;
	margin-left: 46px;
}

.close_signup_button:hover{
	color:black;
}

.close_login_button:hover{
	color:black;
}


//////////////////

/**:focus {
	outline: 0;
	padding: 0 !important;
}*/

body{
	background: #222222;
	width: 100%;
	height: 100%;
	font-family: 'iskra';
   font-weight: 700;
   font-style: italic;
}

input{

/*	background: #212121 !important;	
	color: #212121 !important;*/
}


/*#grid{
	position: absolute;
	top: 0px;
	left: 0px;


}*/



.scale{
	position: absolute;
	top: 30px;
	left: 45px;
	height: 260px;
	width: 30px;
	border-radius: 60px;
	border: 0px;
	background: rgba(255, 255, 255, .4);
		font-style: normal;
/*	visibility: hidden;*/
}


.rotate{
	position: absolute;
	top: 30px;
	right: 45px;
	height: 260px;
	width: 30px;
	border-radius: 60px;
	border: 0px;
	background: rgba(255, 255, 255, .4);
		font-style: normal;
/*	visibility: hidden;*/
}





.ui-slider .ui-slider-handle{
	background: rgba(255, 255, 255, 1);
	left: -15px;
	width: 60px;
	height: 60px;
	border-radius: 90px;
		font-style: normal;
	text-align: center;
	cursor: ns-resize;
	border: 0px;

}

.ui-slider.scale .ui-slider-handle:before{

	content: "\f065";
	font-size: 30px;
	line-height: 60px;
	font-family: FontAwesome;
	font-style: normal;
	color: #b7b7b7;
	cursor: ns-resize;
}

.ui-slider.rotate .ui-slider-handle:before{

	content: "\f01e";
	font-size: 30px;
	line-height: 60px;
	font-family: FontAwesome;
		font-style: normal;
	color: #b7b7b7;
	cursor: ns-resize;
}


.sort-handle{

	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0;
	position: absolute;
	cursor: ns-resize;
	color: #b7b7b7;
	background-color: rgba(255, 255, 255, .4);
	z-index: 100;
	vertical-align: bottom;
		font-style: normal;
	right: 30px;
	bottom: 30px;
	display: inline-block;
}


.sort-handle:hover{
	background-color: red;
	color:black;
	background-color: #a5a5a5 !important;

}


.sort-handle:active{
	background-color: white !important;
	color:black;

}


.sort-handle:before{

	content: "\f047";
	font-size: 30px;
	line-height: 60px;
	font-family: FontAwesome;
		font-style: normal;
	color: #b7b7b7;
	cursor: ns-resize;
}



.image-settings{

	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 0;
	position: absolute;
	cursor: move;
	color: #b7b7b7;
	background: rgba(255, 255, 255, .8);
	z-index: 100;
	vertical-align: bottom;
	left: 30px;
	bottom: 30px;
	display: inline-block;
		font-style: normal;
}


.image-settings:hover{
	background-color: red;
	color:black;
	background-color: #a5a5a5 !important;
}

.image-settings:before{

	content: "\f1de";
	font-size: 30px;
	line-height: 60px;
	font-family: FontAwesome;
	color: #b7b7b7;
	cursor: ns-resize;
}

.delete{

	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 0;
	position: absolute;
	cursor: move;
	color: #b7b7b7;
	background: rgba(255, 255, 255, .8);
	z-index: 100;
	vertical-align: bottom;
	right: 30px;
	bottom: 30px;
	display: inline-block;
		font-style: normal;
}

.delete:hover{
	background-color: red;
	color:black;
	background-color: #a5a5a5 !important;
}

.delete:before{

	content: "\f1f8";
	font-size: 30px;
	line-height: 60px;
	font-family: FontAwesome;
	color: #b7b7b7;
	cursor: ns-resize;
}


#save{

	width: 150px;
	height: 60px;
	border-radius: 30px;
	border: 0;
	position: absolute;
	cursor: move;
	color: #b7b7b7;
	background: rgba(255, 255, 255, .8);
	z-index: 100;
	vertical-align: bottom;
	left: 40px;
	bottom: 40px;
	display: inline-block;
	visibility: hidden;
	font-size: 30px;

}


.placeholderX{
	height: 420px;
	width: 420px;
	background-color: black;

}


.sort-cell{
	text-align: center;
	height: 420px !important;
	width: 420px !important;
	position: relative;
/*	vertical-align: top !important;*/
display: inline-block;
float: left;
	border: 12px solid white;
	margin: 5px;
}

.container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-spacing: 0px; 
}


.streamCanvas{
	left: -1px !important;
	border: 0px;
	background-color: red;
}

#streamsTable{
	border-spacing: 0px !important;
	margin-top: 60px;
	margin-left: -6px;
	width: 100%;
/*	margin-left: 20px;
	margin-right: 20px;*/
	padding: 5px;
	height: 430px !important;
	text-align: center;
}

tr{
	background: #f1f1f1;
	width: 640px;
}



input {

/*	padding: 10px 20px;*/
	width: 640px;
/*	color: #777;*/
}

/*a{
	color: #777;
	display: block;
	background-color: #ccc; 
	width: 360px;
	padding: 10px 20px;
	margin-top: 2px;
	text-decoration:none;
}*/

div.upload {
	float: right;
    /*width: 640px;
    height: 60px;
    overflow: hidden;
    background-color: #dc491c;
    border-radius: 50px;*/
}


div.upload input {
    
    width: 204px !important;
/*    text-align: center;
*/    
}

#imgLoader::-webkit-file-upload-button {
  visibility: hidden;

}
#imgLoader::before {

  content: 'add a frame';
  color: #6d621c;
  display: inline-block;
background: rgb(250,233,123); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(250,233,123,1) 0%, rgba(214,193,54,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,233,123,1)), color-stop(100%,rgba(214,193,54,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae97b', endColorstr='#d6c136',GradientType=0 ); /* IE6-9 */
border: 1px solid #437e94;
  border-radius: 90px;
  height: 60px;
  width: 200px;
  text-align: center;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
     font-family: 'iskra';
   font-weight: 700;
   font-style: italic;
  line-height: 60px;
  font-size: 14pt;
}
#imgLoader:hover::before {
border: 2px solid #437e94;
background: rgb(250,233,123); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(250,233,123,1) 0%, rgba(214,193,54,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,233,123,1)), color-stop(100%,rgba(214,193,54,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae97b', endColorstr='#d6c136',GradientType=0 ); /* IE6-9 */
}
#imgLoader:active::before {
border: 2px solid #437e94;
background: rgb(250,233,123); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(250,233,123,1) 0%, rgba(214,193,54,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,233,123,1)), color-stop(100%,rgba(214,193,54,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(250,233,123,1) 0%,rgba(214,193,54,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae97b', endColorstr='#d6c136',GradientType=0 ); /* IE6-9 */
}

.uploadContainer{

width: 100%;

/*right: -900px;*/

position: relative;
float: right;
/*margin-right: 20px;*/


}

/*.spacer{

height: 20px;
width: 640px;
background: black;
opacity: 0;

}*/

#makeGif{


	font-family: 'iskra';
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
	width: 200px;
	height: 60px;
	border-radius: 90px;
background: rgb(211,124,78); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(211,124,78,1) 0%, rgba(209,92,29,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,124,78,1)), color-stop(100%,rgba(209,92,29,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d37c4e', endColorstr='#d15c1d',GradientType=0 ); /* IE6-9 */


	border: 1px solid #437e94;
	color: #7d411f;
	cursor: pointer;
	line-height: 60px;
	margin-bottom: 20px;
	float: right;
	margin-right: 40px;
	margin-left: 10px;
	display: inline-block;
	text-align: center;
}

#makeGif:hover{
background-color: #3ab9ea;
border: 2px solid #437e94;
}
#saveGif{


	font-family: 'iskra';
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
	width: 200px;
	height: 60px;
	border-radius: 90px;
background: rgb(211,124,78); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(211,124,78,1) 0%, rgba(209,92,29,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,124,78,1)), color-stop(100%,rgba(209,92,29,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(211,124,78,1) 0%,rgba(209,92,29,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d37c4e', endColorstr='#d15c1d',GradientType=0 ); /* IE6-9 */


	border: 1px solid #437e94;
	color: #7d411f;
	cursor: pointer;
	line-height: 60px;
	margin-bottom: 20px;
	float: right;
	margin-right: 40px;
	margin-left: 10px;
	display: inline-block;
	text-align: center;
}

#saveGif:hover{
background-color: #3ab9ea;
border: 2px solid #437e94;
}

#gifField{
	width:0% !important;
}





#imageForm{

	margin-top: 9px;
}


#floating-header{
width: 100%;
height: 80px;

position: fixed;
top: 0px;
left: 0px;
padding: 0px;
margin: 0px;
z-index: 2000;
background: -moz-linear-gradient(top,  rgba(175,226,246,0.8) 0%, rgba(107,178,206,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,226,246,0.8)), color-stop(100%,rgba(107,178,206,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(175,226,246,0.8) 0%,rgba(107,178,206,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(175,226,246,0.8) 0%,rgba(107,178,206,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(175,226,246,0.8) 0%,rgba(107,178,206,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(175,226,246,0.8) 0%,rgba(107,178,206,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccafe2f6', endColorstr='#cc6bb2ce',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.44);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.44);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.44);
}


 #header{
      z-index:1001;

      }

#streamName{
	left: 0px;
	right: 0px;
	margin-top: 140px;
	width: 100%;
	text-align: center;

	font-size: 50px;
	color: white;

}

#gifHolder{
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	border: 20px solid white;
	width: 420px;
	height: 480px;
	background: white;
	position: relative;
	border-radius: 3px;
};
.gifHolderShow{
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	border: 20px solid white;
	width: 420px;
	height: 480px;
	background: white;
	position: relative;
	float: left;
	border-radius: 3px;
	margin: 10px;
};

#streamGrid{
	margin-top: 100px;
	width: 100%;
}
.hideButton{
	border: 0px;
	background: none;
	width:40px;
	height:40px;
	cursor: pointer;
	z-index: 200;
	position: relative;
	float: right;


}


#user_header{
	position: absolute;
	top: 44px;
	left: 180px;
	color: #1a3c49;
	font-family: 'iskra';
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	z-index: 3000;
}

#smallStreamName{
	color: black;
	font-size: 24px;
	position: absolute;
	left: 10px;
	bottom: 20px;
	font-family: courier;
}

#createBG{
	background: rgb(214,193,54); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(214,193,54,1) 0%, rgba(255,127,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,193,54,1)), color-stop(100%,rgba(255,127,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(214,193,54,1) 0%,rgba(255,127,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(214,193,54,1) 0%,rgba(255,127,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(214,193,54,1) 0%,rgba(255,127,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(214,193,54,1) 0%,rgba(255,127,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c136', endColorstr='#ff7f0e',GradientType=0 ); /* IE6-9 */

}

/*.pauseButton{

	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 0;
	position: absolute;
	cursor: move;
	color: #b7b7b7;
	background: rgba(255, 255, 255, .8);
	z-index: 100;
	vertical-align: bottom;
	left: 0px;
	bottom: 40px;
		font-style: normal;
		vertical-align: top;
		line-height: 60px;
}

.pauseButton:hover{
	background-color: red;
	color:black;
	background-color: #a5a5a5 !important;
}

.pauseButton:before{

	content: "\f04c";
	font-size: 20px;
	line-height: 50px;
	font-family: FontAwesome;
	color: #b7b7b7;
	cursor: ns-resize;
	font-weight: 400;
}*/

#streamHeader{
	width: 100%;
	width: 100%;
	text-align: center;
	margin-top: 100px;
	font-size: 40px;
	color: #274c59;
	position: relative;

}

#createStream{
	margin-top: 10px;
	width: 320px;
	height: 50px !important;
	outline: 0;
	background: none;
	border: 1px solid #437e94;
	border-radius: 60px;
	background: rgb(175,226,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(175,226,246,1) 0%, rgba(107,178,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,226,246,1)), color-stop(100%,rgba(107,178,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(175,226,246,1) 0%,rgba(107,178,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(175,226,246,1) 0%,rgba(107,178,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(175,226,246,1) 0%,rgba(107,178,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(175,226,246,1) 0%,rgba(107,178,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe2f6', endColorstr='#6bb2ce',GradientType=0 ); /* IE6-9 */
	color: white;
	font-family: 'iskra';
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;

}

#createStream:hover{

	border: 3px solid #437e94;
}

#createStreamField{
	margin-top: 40px;
	width: 320px;
	height: 50px !important;
	outline: 0;
	background: none;
	border: 1px solid rgba(67, 126, 148, .5);
	border-radius: 60px;
	background-color: white;
	color: black;
	text-align: center;
	font-family: 'iskra';
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
	cursor: pointer;

}

#newStreamForm{
	text-align: center;
	width: 100%;
top: 0px;
	position: absolute;
}

#streamsContainer{
	width: 100%;
	text-align: center;

	font-size: 30px;
	color: #6d621c;
}

/*#bg_top{
	position: absolute;
	z-index: -1500 !important;
	background-color: #7dbed7;
	width: 100%;
	top: 0px;
	left: 0;
	height: 100%;


}*/

#logo_small{
width: 140px;
height: 60px;
background-image: url(image-path('piknik_logo_small.png'));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
position: absolute;
left: 40px;
top: 10px;


}


#deleteGif{
position: absolute;
right: 5px;
bottom: 20px;
color: black;
opacity: .5;
}

#deleteGif:hover{
opacity: 1;
}

#deleteGif:before{

	content: "\f1f8";
	font-size: 20px;
/*	line-height: 60px;*/
	font-family: FontAwesome;
	color: #b7b7b7;
	cursor: pointer;
	font-style: normal;
}

.gifClass{
	background-color: black;
	width: 420px;
	height: 420px;
}
#imgurSuccess{
	display:none;
}